*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
    width: 550px;
    border: 2px solid #4d7aa2;
    border-radius: 8px;
    padding: 32px 80px;
    display: block;
    margin: auto;
}

#main .wrapper {

    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .showError {

    width: 100%;
}

.showError .errorMsg {
    color: red;
}


form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    /* margin-bottom: 32px; */
}



.form-group {
    width: 100%;
    display: flex;
    margin-bottom: 16px;

}

.form-group .form-label {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    text-align: center;
    background-color: #70ad47;
    padding: 8px 12px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
    margin-right: 16px;
    margin-bottom: 0;
    color: #fff;


}

.form-group .form-label .required {
    color: red;
    margin-left: 4px;
}


.form-group .form-input {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 0;
    /* line-height: 32px; */

}



.form-group .form-input input[type="text"] {
    width: 100%;
    font-size: 20px;
    padding: 8px 4px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
}

#datepicker {
    width: 180px;
    margin: 0 20px 20px 20px;
}

#datepicker>span:hover {
    cursor: pointer;
}

.form-group .form-input input[type="radio"] {
    /* width: 30%; */
    /* font-size: 12px; */

    border: 1px solid #4d7aa2;
    background-color: #5b9bd5;
    width: 16px;
}

.form-group .form-input input[type="radio"]:hover {
    /* border: 1px solid #4d7aa2; */
    cursor: pointer;
    background-color: #5b9bd5;
}

.form-group .form-input .radio-label {
    margin-left: 8px;
    margin-bottom: 0;
    font-weight: 500;
}

.form-group .form-input #falcuties {
    width: 100%;
    font-size: 20px;
    padding: 10px 4px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;

}

select {
    background: url("data:image/svg+xml,<svg height='20px' width='20px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 2rem !important;
}

.form-group .form-input .radio-group {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
}

.form-group .form-input .radio-group label {
    font-size: 20px;
}

form .submit-btn {
    text-align: center;
    width: 120px;
    color: #fff;
    background-color: #70ad47;
    font-size: 14px;
    padding: 12px;
    border: 2px solid #4d7aa2;
    border-radius: 6px;
}
